<nav class="text-white shadow-lg">
  <div class="container mx-auto flex items-center justify-between px-4 py-2">
    <!-- Logo -->
    <div class="flex items-center">
      <img src="logo.png" alt="Logo" class="h-10 w-auto mr-3">
    </div>
    <!-- Router Links -->
    <ul class="flex space-x-6">
      <li>
        <a [routerLink]="'/products'" routerLinkActive="active" class="p-button hover:underline p-ripple flex items-center">
          Products
          <span class="ripple-container"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<main class="main flex justify-center mt-6">
  <!-- Make the content div wider by increasing max-width -->
  <div class="content w-full max-w-7xl shadow-md rounded-lg p-6">
    <router-outlet></router-outlet>
  </div>
</main>

<div *ngIf="loadingService.loading$ | async" class="overlay">
  <p-progressSpinner></p-progressSpinner>
</div>